package com.sap.ai.sdk.foundationmodels.openai.responses.generated.client;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sap.ai.sdk.foundationmodels.openai.responses.generated.model.AzureAIFoundryModelsApiVersion;
import com.sap.ai.sdk.foundationmodels.openai.responses.generated.model.CreateResponse200Response;
import com.sap.ai.sdk.foundationmodels.openai.responses.generated.model.OpenAICreateResponse;
import com.sap.ai.sdk.foundationmodels.openai.responses.generated.model.OpenAIIncludeEnum;
import com.sap.ai.sdk.foundationmodels.openai.responses.generated.model.OpenAIResponseItemList;
import com.sap.cloud.sdk.cloudplatform.connectivity.Destination;
import com.sap.cloud.sdk.services.openapi.apache.ApiClient;
import com.sap.cloud.sdk.services.openapi.apache.BaseApi;
import com.sap.cloud.sdk.services.openapi.apache.Pair;
import com.sap.cloud.sdk.services.openapi.core.OpenApiRequestException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import javax.annotation.Nonnull;
import javax.annotation.Nullable;

/**
 * Azure AI Foundry Models Service in version v1.
 *
 * <p>No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 */
public class ResponsesApi extends BaseApi {

  /** Instantiates this API class to invoke operations on the Azure AI Foundry Models Service */
  public ResponsesApi() {}

  /**
   * Instantiates this API class to invoke operations on the Azure AI Foundry Models Service.
   *
   * @param httpDestination The destination that API should be used with
   */
  public ResponsesApi(@Nonnull final Destination httpDestination) {
    super(httpDestination);
  }

  /**
   * Instantiates this API class to invoke operations on the Azure AI Foundry Models Service based
   * on a given {@link ApiClient}.
   *
   * @param apiClient ApiClient to invoke the API on
   */
  public ResponsesApi(@Nonnull final ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Cancels a model response with the given ID. Only responses created with the background
   * parameter set to true can be cancelled.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param responseId (required) The value for the parameter responseId
   * @param apiVersion (optional, default to v1) The explicit Azure AI Foundry Models API version to
   *     use for this request. &#x60;v1&#x60; if not otherwise specified.
   * @return CreateResponse200Response
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public CreateResponse200Response cancelResponse(
      @Nonnull final String responseId, @Nullable final AzureAIFoundryModelsApiVersion apiVersion)
      throws OpenApiRequestException {

    // verify the required parameter 'responseId' is set
    if (responseId == null) {
      throw new OpenApiRequestException(
              "Missing the required parameter 'responseId' when calling cancelResponse")
          .statusCode(400);
    }

    // create path and map variables
    final String localVarPath =
        "/responses/{response_id}/cancel"
            .replaceAll(
                "\\{" + "response_id" + "\\}",
                ApiClient.escapeString(ApiClient.parameterToString(responseId)));

    final StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    final List<Pair> localVarQueryParams = new ArrayList<Pair>();
    final List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    final Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    final Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(ApiClient.parameterToPair("api-version", apiVersion));

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = ApiClient.selectHeaderAccept(localVarAccepts);
    final String[] localVarContentTypes = {};

    final String localVarContentType = ApiClient.selectHeaderContentType(localVarContentTypes);

    final TypeReference<CreateResponse200Response> localVarReturnType =
        new TypeReference<CreateResponse200Response>() {};

    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        null,
        localVarHeaderParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarReturnType);
  }

  /**
   * Cancels a model response with the given ID. Only responses created with the background
   * parameter set to true can be cancelled.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param responseId The value for the parameter responseId
   * @return CreateResponse200Response
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public CreateResponse200Response cancelResponse(@Nonnull final String responseId)
      throws OpenApiRequestException {
    return cancelResponse(responseId, null);
  }

  /**
   * Creates a model response.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param openAICreateResponse (required) The value for the parameter openAICreateResponse
   * @param apiVersion (optional, default to v1) The explicit Azure AI Foundry Models API version to
   *     use for this request. &#x60;v1&#x60; if not otherwise specified.
   * @return CreateResponse200Response
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public CreateResponse200Response createResponse(
      @Nonnull final OpenAICreateResponse openAICreateResponse,
      @Nullable final AzureAIFoundryModelsApiVersion apiVersion)
      throws OpenApiRequestException {

    // verify the required parameter 'openAICreateResponse' is set
    if (openAICreateResponse == null) {
      throw new OpenApiRequestException(
              "Missing the required parameter 'openAICreateResponse' when calling createResponse")
          .statusCode(400);
    }

    // create path and map variables
    final String localVarPath = "/responses";

    final StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    final List<Pair> localVarQueryParams = new ArrayList<Pair>();
    final List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    final Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    final Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(ApiClient.parameterToPair("api-version", apiVersion));

    final String[] localVarAccepts = {"application/json", "text/event-stream"};
    final String localVarAccept = ApiClient.selectHeaderAccept(localVarAccepts);
    final String[] localVarContentTypes = {"application/json"};
    final String localVarContentType = ApiClient.selectHeaderContentType(localVarContentTypes);

    final TypeReference<CreateResponse200Response> localVarReturnType =
        new TypeReference<CreateResponse200Response>() {};

    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        openAICreateResponse,
        localVarHeaderParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarReturnType);
  }

  /**
   * Creates a model response.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param openAICreateResponse The value for the parameter openAICreateResponse
   * @return CreateResponse200Response
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public CreateResponse200Response createResponse(
      @Nonnull final OpenAICreateResponse openAICreateResponse) throws OpenApiRequestException {
    return createResponse(openAICreateResponse, null);
  }

  /**
   * Retrieves a model response with the given ID.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param responseId (required) The value for the parameter responseId
   * @param apiVersion (optional, default to v1) The explicit Azure AI Foundry Models API version to
   *     use for this request. &#x60;v1&#x60; if not otherwise specified.
   * @param include (optional) Additional fields to include in the response. See the include
   *     parameter for Response creation above for more information.
   * @param stream (optional) If set to true, the model response data will be streamed to the client
   *     as it is generated using server-sent events.
   * @param startingAfter (optional) The sequence number of the event after which to start
   *     streaming.
   * @param includeObfuscation (optional, default to true) When true, stream obfuscation will be
   *     enabled. Stream obfuscation adds random characters to an &#x60;obfuscation&#x60; field on
   *     streaming delta events to normalize payload sizes as a mitigation to certain side-channel
   *     attacks. These obfuscation fields are included by default, but add a small amount of
   *     overhead to the data stream. You can set &#x60;include_obfuscation&#x60; to false to
   *     optimize for bandwidth if you trust the network links between your application and the
   *     OpenAI API.
   * @return CreateResponse200Response
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public CreateResponse200Response getResponse(
      @Nullable final String responseId,
      @Nullable final AzureAIFoundryModelsApiVersion apiVersion,
      @Nullable final List<OpenAIIncludeEnum> include,
      @Nullable final Boolean stream,
      @Nullable final Integer startingAfter,
      @Nullable final Boolean includeObfuscation)
      throws OpenApiRequestException {

    // verify the required parameter 'responseId' is set
    if (responseId == null) {
      throw new OpenApiRequestException(
              "Missing the required parameter 'responseId' when calling getResponse")
          .statusCode(400);
    }

    // create path and map variables
    final String localVarPath =
        "/responses/{response_id}"
            .replaceAll(
                "\\{" + "response_id" + "\\}",
                ApiClient.escapeString(ApiClient.parameterToString(responseId)));

    final StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    final List<Pair> localVarQueryParams = new ArrayList<Pair>();
    final List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    final Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    final Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(ApiClient.parameterToPair("api-version", apiVersion));
    localVarCollectionQueryParams.addAll(ApiClient.parameterToPairs("multi", "include[]", include));
    localVarQueryParams.addAll(ApiClient.parameterToPair("stream", stream));
    localVarQueryParams.addAll(ApiClient.parameterToPair("starting_after", startingAfter));
    localVarQueryParams.addAll(
        ApiClient.parameterToPair("include_obfuscation", includeObfuscation));

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = ApiClient.selectHeaderAccept(localVarAccepts);
    final String[] localVarContentTypes = {};

    final String localVarContentType = ApiClient.selectHeaderContentType(localVarContentTypes);

    final TypeReference<CreateResponse200Response> localVarReturnType =
        new TypeReference<CreateResponse200Response>() {};

    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        null,
        localVarHeaderParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarReturnType);
  }

  /**
   * Retrieves a model response with the given ID.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param responseId The value for the parameter responseId
   * @return CreateResponse200Response
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public CreateResponse200Response getResponse(@Nullable final String responseId)
      throws OpenApiRequestException {
    return getResponse(responseId, null, null, null, null, null);
  }

  /**
   * Returns a list of input items for a given response.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param responseId (required) The value for the parameter responseId
   * @param apiVersion (optional, default to v1) The explicit Azure AI Foundry Models API version to
   *     use for this request. &#x60;v1&#x60; if not otherwise specified.
   * @param limit (optional, default to 20) A limit on the number of objects to be returned. Limit
   *     can range between 1 and 100, and the default is 20.
   * @param order (optional) Sort order by the &#x60;created_at&#x60; timestamp of the objects.
   *     &#x60;asc&#x60; for ascending order and&#x60;desc&#x60; for descending order.
   * @param after (optional) A cursor for use in pagination. &#x60;after&#x60; is an object ID that
   *     defines your place in the list. For instance, if you make a list request and receive 100
   *     objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order
   *     to fetch the next page of the list.
   * @param before (optional) A cursor for use in pagination. &#x60;before&#x60; is an object ID
   *     that defines your place in the list. For instance, if you make a list request and receive
   *     100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in
   *     order to fetch the previous page of the list.
   * @return OpenAIResponseItemList
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public OpenAIResponseItemList listInputItems(
      @Nonnull final String responseId,
      @Nullable final AzureAIFoundryModelsApiVersion apiVersion,
      @Nullable final Integer limit,
      @Nullable final String order,
      @Nullable final String after,
      @Nullable final String before)
      throws OpenApiRequestException {

    // verify the required parameter 'responseId' is set
    if (responseId == null) {
      throw new OpenApiRequestException(
              "Missing the required parameter 'responseId' when calling listInputItems")
          .statusCode(400);
    }

    // create path and map variables
    final String localVarPath =
        "/responses/{response_id}/input_items"
            .replaceAll(
                "\\{" + "response_id" + "\\}",
                ApiClient.escapeString(ApiClient.parameterToString(responseId)));

    final StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    final List<Pair> localVarQueryParams = new ArrayList<Pair>();
    final List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    final Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    final Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(ApiClient.parameterToPair("api-version", apiVersion));
    localVarQueryParams.addAll(ApiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(ApiClient.parameterToPair("order", order));
    localVarQueryParams.addAll(ApiClient.parameterToPair("after", after));
    localVarQueryParams.addAll(ApiClient.parameterToPair("before", before));

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = ApiClient.selectHeaderAccept(localVarAccepts);
    final String[] localVarContentTypes = {};

    final String localVarContentType = ApiClient.selectHeaderContentType(localVarContentTypes);

    final TypeReference<OpenAIResponseItemList> localVarReturnType =
        new TypeReference<OpenAIResponseItemList>() {};

    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        null,
        localVarHeaderParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarReturnType);
  }

  /**
   * Returns a list of input items for a given response.
   *
   * <p><b>200</b> - The request has succeeded.
   *
   * <p><b>0</b> - An unexpected error response.
   *
   * @param responseId The value for the parameter responseId
   * @return OpenAIResponseItemList
   * @throws OpenApiRequestException if an error occurs while attempting to invoke the API
   */
  @Nonnull
  public OpenAIResponseItemList listInputItems(@Nonnull final String responseId)
      throws OpenApiRequestException {
    return listInputItems(responseId, null, null, null, null, null);
  }
}
