name: "Spec File Update Workflow"

on:
  push:
    branches:
      - chore/spec-update-job

  workflow_dispatch:
    inputs:
      file:
        description: "Which spec file to update"
        type: choice
        required: false
        options:
          - core
          - grounding
          - orchestration
        default: orchestration
      file-ref:
        description: "Branch or tag to checkout the spec file from"
        required: false
        default: main
        type: string
      create-pr:
        description: "Create a pull request after updating the spec file"
        required: false
        default: true
        type: boolean

env:
  MVN_MULTI_THREADED_ARGS: --batch-mode --no-transfer-progress --fail-at-end --show-version --threads 1C
  JAVA_VERSION: 17

jobs:
  generate:
    name: "Download, Generate, Compile and Push"
    runs-on: [ubuntu-latest]
    permissions:
      pull-requests: write
      contents: write
    outputs:
      spec_diff: ${{ steps.spec_diff.outputs.spec_diff }}
      branch: ${{ steps.push.outputs.branch }}
      compilation_result: ${{ steps.compile.outputs.compilation_result }}
      test_result: ${{ steps.compile.outputs.test_result }}
    env:
      API_BASE_URL: "https://github.tools.sap/api/v3/repos"
      CHOICE: "orchestration" # TODO: replace with ${{ github.event.inputs.file }}
      REF: "v0.48.2" # TODO: replace with ${{ github.event.inputs.file-ref }}
      CREATE_PR: "true" # TODO: replace with ${{ github.event.inputs.create-pr }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.BOT_SDK_JS_FOR_DOCS_REPO_PR }}

      - name: "Download specification file"
        id: download
        env:
          GH_ENTERPRISE_TOKEN: ${{ secrets.GH_TOOLS_TOKEN }}
        run: |
          case $CHOICE in
            core)
              API_URL="$API_BASE_URL/cloudsdk/cloud-sdk-java-tests/contents/aicore.yaml?ref=$REF"
              FILE_PATH='core/src/main/resources/spec/aicore.yaml'
              ;;
            grounding)
              # TODO
              exit 1
              ;;
            orchestration)
              API_URL="$API_BASE_URL/AI/llm-orchestration/contents/src/spec/api.yaml?ref=$REF"
              FILE_PATH='orchestration/src/main/resources/spec/orchestration.yaml'
              ;;
          esac
          
          echo "Downloading $CHOICE specification file from $API_URL ..."
          
          gh api $API_URL -H "Accept: application/vnd.github.raw" > $FILE_PATH

      - name: "Exit if there are no changes"
        id: spec_diff
        run: |
          if [[ `git status --porcelain` ]]; then
            echo "spec_diff=true" >> "$GITHUB_OUTPUT"
          else
            echo "spec_diff=false" >> "$GITHUB_OUTPUT"
          fi

      - name: "Checkout or Create Branch"
        description: | 
          Always create a new branch to ensure we generate from a clean state.
          In case a PR exist we can't delete and re-create the branch (without closing the PR first).
          So the workflow will exist in this case.
        id: branch
        env:
          GH_TOKEN: ${{ secrets.BOT_SDK_JS_FOR_DOCS_REPO_PR }}
        run: |
          BRANCH="spec-update/$CHOICE/$REF"
          if gh pr list --head $BRANCH --json number -q '.[].number' | grep -q .; then
            echo "An open PR already exists for this branch. Please close the PR first before re-running the workflow."
            exit 1
          fi

          if git ls-remote --exit-code origin refs/heads/$BRANCH >/dev/null 2>&1; then
            echo "Branch '$BRANCH' exists on remote, deleting it..."
            git push origin --delete $BRANCH
          fi
          git checkout -b $BRANCH
          echo "branch=$BRANCH" >> "$GITHUB_OUTPUT"

      - name: "Setup java"
        uses: actions/setup-java@v4
        if: steps.spec_diff.outputs.spec_diff == 'true'
        with:
          distribution: "temurin"
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: "Generate"
        id: generate
        if: steps.spec_diff.outputs.spec_diff == 'true'
        run: |
          mvn process-sources -Dgenerate ${{ env.MVN_MULTI_THREADED_ARGS }}

      - name: "Compile and Test"
        id: compile
        if: steps.spec_diff.outputs.spec_diff == 'true'
        description: |
          Compilation can easily fail e.g. from re-namings and has to be fixed manually.
          Thus this action raises the PR anyway and only reports success or failure of compilation and testing.
        run: |
          if mvn test-compile ${{ env.MVN_MULTI_THREADED_ARGS }} ; then
            echo "compilation_result=success" >> "$GITHUB_OUTPUT"
            if mvn test ${{ env.MVN_MULTI_THREADED_ARGS }} ; then
                echo "test_result=success" >> "$GITHUB_OUTPUT"
            else
                echo "test_result=failure" >> "$GITHUB_OUTPUT"
            fi
          else
            echo "compilation_result=failure" >> "$GITHUB_OUTPUT"
          fi

      - name: "Push changes"
        id: push
        if: steps.spec_diff.outputs.spec_diff == 'true'
        run: |
          git config --global user.email "cloudsdk@sap.com"
          git config --global user.name "SAP Cloud SDK Bot"
          git add .
          git commit -m "Update $CHOICE based on $REF"
          git push --set-upstream origin ${{ steps.branch.outputs.branch }}

      - name: "Create PR"
        if: ${{ env.CREATE_PR && steps.spec_diff.outputs.spec_diff == 'true'}}
        env:
          GH_TOKEN: ${{ secrets.BOT_SDK_JS_FOR_DOCS_REPO_PR }}
        run: |
          gh pr create --base main --head ${{ steps.branch.outputs.branch }} --title "feat: [DevOps] Update $CHOICE Specification" --body "
          ## Context
          
          Update $CHOICE specification file based on $REF.
          
          This PR was created automatically by the [spec-update workflow](https://github.com/SAP/ai-sdk-java/actions/workflows/spec-update.yaml).
          You can commit on top of this branch, but as long as this PR is open the action can't be re-run.
          
          - Compilation outcome: ${{ steps.compile.output.test_result }}
          - Test run outcome: ${{ steps.compile.output.test_result }}
          
          Before merging, make sure to update tests and release notes, if necessary.
          
          ## Definition of Done

          - [ ] Unit tests cover new classes
          - [ ] Release notes updated
          "

      - name: "Print Summary"
        if: ${{ always() }}
        run: |
          echo "Branch creation: ${{ steps.branch.outcome }}"
          echo "File download outcome: ${{ steps.download.outcome }}"
          echo "Spec file contained changes: ${{ steps.spec_diff.outputs.spec_diff }}"
          echo "Client generation outcome: ${{ steps.generate.outcome }}"
          echo "Client compilation outcome: ${{ steps.compile.output.compilation_result }}"
          echo "Client test outcome: ${{ steps.compile.output.test_result }}"
